html {
  font-size: 62.5%;
  font-family: "M PLUS 1p", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

h1 {
  font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 960px) {
  .l-grid {
    display: grid;
    grid-template: "header aside" "main   aside" "footer footer"/80.885% 19.115%;
  }
}

.l-header {
  grid-area: header;
  aspect-ratio: 375/217;
}
@media (min-width: 520px) {
  .l-header {
    aspect-ratio: 834/217;
  }
}
@media (min-width: 960px) {
  .l-header {
    aspect-ratio: 1553/217;
  }
}

.l-main {
  grid-area: main;
}

.l-footer {
  grid-area: footer;
  aspect-ratio: 375/150;
}
@media (min-width: 520px) {
  .l-footer {
    aspect-ratio: 834/150;
  }
}
@media (min-width: 960px) {
  .l-footer {
    aspect-ratio: 1920/150;
  }
}

@media (min-width: 960px) {
  .l-aside {
    grid-area: aside;
  }
}

.c-title--lv1 {
  line-height: 1.325;
  font-size: 10.666vw;
  color: #707070;
}
@media (min-width: 520px) {
  .c-title--lv1 {
    font-size: 4.796vw;
  }
}
@media (min-width: 960px) {
  .c-title--lv1 {
    font-size: 3.333vw;
  }
}

.c-menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5.33vw;
}
@media (min-width: 520px) {
  .c-menu-btn {
    font-size: 4.796vw;
  }
}
.c-menu-btn.is-active {
  font-size: 0px;
}

.c-menu-btn--close.is-active {
  position: absolute;
  top: 14px;
  right: 32px;
  background: url(../icon/cross.png) no-repeat;
  background-size: cover;
  width: 5.33vw;
  aspect-ratio: 1;
}
@media (min-width: 520px) {
  .c-menu-btn--close.is-active {
    width: 4.796vw;
  }
}

.p-header {
  padding: 10% 8.266% 10% 6.4%;
  background: #fff7ef;
  color: #707070;
  position: relative;
}
@media (min-width: 520px) {
  .p-header {
    padding: 4.796% 17.266%;
  }
}
@media (min-width: 960px) {
  .p-header {
    padding: 0 1.931% 0 4.185%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-header__title {
  text-align: center;
  margin-bottom: 10.1%;
}
@media (min-width: 520px) {
  .p-header__title {
    margin-bottom: 4.556%;
  }
}
@media (min-width: 960px) {
  .p-header__title {
    margin-bottom: 0px;
  }
}
.p-header__menu-btn {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 16px;
}
.p-header__menu-btn.is-active {
  position: absolute;
  right: 32px;
}

.p-form-box {
  aspect-ratio: 320/46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 4.266vw;
  position: relative;
}
@media (min-width: 520px) {
  .p-form-box {
    aspect-ratio: 546/46;
    font-size: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-form-box {
    width: 35.15%;
    font-size: 0.833vw;
  }
}
.p-form-box::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3%;
  width: 4.266vw;
  aspect-ratio: 1;
  background: url(../icon/Loupe.png) no-repeat;
  background-size: cover;
}
@media (min-width: 520px) {
  .p-form-box::before {
    width: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-form-box::before {
    width: 0.833vw;
  }
}
.p-form-box__input {
  width: 71.875%;
  background: #ffffff;
  border: 1px solid currentColor;
  border-radius: 10px;
  padding-left: 10%;
}
@media (min-width: 520px) {
  .p-form-box__input {
    padding-left: 7%;
  }
}
@media (min-width: 960px) {
  .p-form-box__input {
    padding-left: 6%;
  }
}
.p-form-box__input:focus {
  border: 2px solid currentColor;
  -webkit-box-shadow: inset 2px 1px 5px currentColor;
          box-shadow: inset 2px 1px 5px currentColor;
}
.p-form-box__submit {
  width: 24.375%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2ede9), to(#ded8d3));
  background: linear-gradient(#f2ede9, #ded8d3);
  font-weight: bold;
  line-height: 1.43;
  border: 1px solid currentColor;
  border-radius: 10px;
}
.p-form-box__submit:focus {
  border: 2px solid currentColor;
}

.p-main-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6.666%;
  aspect-ratio: 375/285;
  background: url(../imges/front-page/sp/mainvisual-sp.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 520px) {
  .p-main-visual {
    aspect-ratio: 834/285;
    background: url(../imges/front-page/tablet/front_mainvisual_tab.jpg) no-repeat;
    background-size: contain;
  }
}
@media (min-width: 960px) {
  .p-main-visual {
    aspect-ratio: 1553/530;
    background: url(../imges/front-page/pc/mainvisual-pc.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.p-main-visual__title {
  font-size: 10.66vw;
  color: #ffffff;
}
@media (min-width: 520px) {
  .p-main-visual__title {
    font-size: 4.316vw;
  }
}
@media (min-width: 960px) {
  .p-main-visual__title {
    font-size: 1.875vw;
  }
}

.p-branch {
  aspect-ratio: 375/1374;
  background: #fffdfa;
  padding: 5.333% 5.333% 13.333%;
}
@media (min-width: 520px) {
  .p-branch {
    aspect-ratio: 834/761;
    padding: 4.796%;
  }
}
@media (min-width: 960px) {
  .p-branch {
    aspect-ratio: 1553/1447;
    padding: 7.726% 7.147% 8.628%;
  }
}
.p-branch__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 520px) {
  .p-branch__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.p-branch__list {
  height: 49.233%;
}
@media (min-width: 520px) {
  .p-branch__list {
    height: auto;
    width: 47.277%;
  }
}
@media (min-width: 960px) {
  .p-branch__list {
    width: 46.992%;
  }
}
.p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.283% 2.985% 2.985%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 520px) {
  .p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
    padding: 3.361% 3.361% 2.24%;
  }
}
@media (min-width: 960px) {
  .p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
    padding: 3.2%;
  }
}
.p-branch__item--take-out {
  background-image: url(../imges/front-page/sp/front_take-out_sp.png);
}
.p-branch__item--eat-in {
  background-image: url(../imges/front-page/sp/front_eat-in_sp.png);
}
.p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
  font-family: "Roboto", sans-serif;
  font-size: 10.933vw;
  line-height: 1.317;
  position: relative;
}
@media (min-width: 520px) {
  .p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
    font-size: 5.275vw;
  }
}
@media (min-width: 960px) {
  .p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
    font-size: 4.166vw;
  }
}
.p-branch__title--take-out {
  color: #eaeaea;
}
.p-branch__title--eat-in {
  color: #ffffff;
}
.p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
  content: " ";
  display: inline-block;
  height: 5px;
  width: 9.037vw;
  background: #ffffff;
  position: absolute;
  bottom: -5.144vw;
  left: 0;
}
@media (min-width: 520px) {
  .p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
    width: 4.309vw;
    height: 3px;
    bottom: -2.589vw;
  }
}
@media (min-width: 960px) {
  .p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
    width: 3.281vw;
    height: 2.5px;
    bottom: -1.796vw;
  }
}

.p-branch__bottom-box {
  aspect-ratio: 314/335;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 520px) {
  .p-branch__bottom-box {
    aspect-ratio: 334/357;
  }
}
@media (min-width: 960px) {
  .p-branch__bottom-box {
    aspect-ratio: 585/368;
  }
}
.p-branch__bottom-box__list {
  color: #3C2A10;
  height: 48.656%;
  background: rgba(255, 255, 255, 0.73);
  padding: 6.05% 4.458% 0 3.184%;
}
.p-branch__bottom-box__dt {
  font-size: 5.866vw;
  font-weight: bold;
  margin-bottom: 19px;
}
@media (min-width: 520px) {
  .p-branch__bottom-box__dt {
    font-size: 2.877vw;
  }
}
@media (min-width: 960px) {
  .p-branch__bottom-box__dt {
    font-size: 1.25vw;
  }
}
.p-branch__bottom-box__dd {
  font-size: 4.266vw;
}
@media (min-width: 520px) {
  .p-branch__bottom-box__dd {
    font-size: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-branch__bottom-box__dd {
    font-size: 0.833vw;
  }
}

.p-map {
  color: #ffffff;
  aspect-ratio: 375/691;
  position: relative;
}
@media (min-width: 520px) {
  .p-map {
    aspect-ratio: 834/415;
  }
}
@media (min-width: 960px) {
  .p-map {
    aspect-ratio: 1553/649;
  }
}
.p-map::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.p-map__g-map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.p-map__filter {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 60.057%;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 520px) {
  .p-map__filter {
    height: 100%;
  }
}
@media (min-width: 960px) {
  .p-map__filter {
    width: 61.171%;
  }
}
.p-map__text-wrap {
  position: absolute;
  z-index: 5;
  height: 100%;
  padding: 10.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 520px) {
  .p-map__text-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.796% 3.477% 3.796% 3.477%;
  }
}
@media (min-width: 960px) {
  .p-map__text-wrap {
    width: 61.171%;
  }
}
.p-map__title {
  font-size: 8vw;
  margin-bottom: 10.666%;
  position: relative;
}
@media (min-width: 520px) {
  .p-map__title {
    font-size: 3.597vw;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .p-map__title {
    font-size: 1.875vw;
  }
}
.p-map__title::after {
  content: " ";
  display: inline-block;
  height: 2px;
  width: 20vw;
  background: #ffffff;
  position: absolute;
  bottom: -5.144vw;
  left: 0;
}
@media (min-width: 520px) {
  .p-map__title::after {
    width: 8.992vw;
    bottom: -2.544vw;
  }
}
@media (min-width: 960px) {
  .p-map__title::after {
    width: 3.906vw;
    bottom: -3.544vw;
  }
}
.p-map__text {
  font-size: 3.533vw;
  line-height: 2.357;
}
@media (min-width: 520px) {
  .p-map__text {
    font-size: 1.678vw;
    line-height: 2;
  }
}
@media (min-width: 960px) {
  .p-map__text {
    font-size: 0.833vw;
  }
}

.p-footer {
  color: #ffffff;
  background: #9d8670;
  text-align: center;
  padding: 10.4% 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 520px) {
  .p-footer {
    padding: 4.676% 0 3.597%;
  }
}
@media (min-width: 960px) {
  .p-footer {
    padding: 2.031% 0 1.562%;
  }
}
.p-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-footer__nav-item {
  font-size: 5.333vw;
}
@media (min-width: 520px) {
  .p-footer__nav-item {
    font-size: 2.398vw;
  }
}
@media (min-width: 960px) {
  .p-footer__nav-item {
    font-size: 1.041vw;
  }
}
.p-footer__copyright {
  font-size: 3.733vw;
}
@media (min-width: 520px) {
  .p-footer__copyright {
    font-size: 1.678vw;
  }
}
@media (min-width: 960px) {
  .p-footer__copyright {
    font-size: 0.729vw;
  }
}

.p-aside {
  color: #707070;
  background: #f2ede9;
  width: 87.4%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  top: 0;
  right: -87.4%;
  padding: 57.634% 0 0 12.481%;
  overflow-y: scroll;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media (min-width: 520px) {
  .p-aside {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 44%;
    right: -44%;
  }
}
@media (min-width: 960px) {
  .p-aside {
    padding: 22.343% 0 0 12.534%;
    overflow-y: auto;
    position: static;
    width: auto;
    height: auto;
  }
}
.p-aside.is-active {
  right: 0;
}
@media (min-width: 960px) {
  .p-aside__title {
    font-size: 1.778vw;
    margin-bottom: 2.5em;
  }
}

.p-menu-list__title {
  font-weight: bold;
  font-size: 6.4vw;
  margin-bottom: 1.6em;
}
@media (min-width: 520px) {
  .p-menu-list__title {
    font-size: 2.877vw;
  }
}
@media (min-width: 960px) {
  .p-menu-list__title {
    font-size: 1.25vw;
  }
}

.p-menu-sub-list__item {
  font-size: 5.33vw;
  padding-left: 1em;
}
@media (min-width: 520px) {
  .p-menu-sub-list__item {
    font-size: 2.398vw;
  }
}
@media (min-width: 960px) {
  .p-menu-sub-list__item {
    font-size: 1.041vw;
  }
}
.p-menu-sub-list__item:not(:last-child) {
  padding-bottom: 1.1em;
}
.p-menu-sub-list__item:last-child {
  padding-bottom: 1.545em;
}
.p-menu-sub-list__link:hover {
  opacity: 0.7;
}

@media (min-width: 960px) {
  .u-disp--pc-none {
    display: none;
  }
}
.u-disp--pc-only {
  display: none;
}
@media (min-width: 520px) {
  .u-disp--pc-only {
    display: none;
  }
}
@media (min-width: 960px) {
  .u-disp--pc-only {
    display: block;
  }
}
@media (min-width: 520px) {
  .u-disp--sp-only {
    display: none;
  }
}
.u-disp--sp-none {
  display: none;
}
@media (min-width: 520px) {
  .u-disp--sp-none {
    display: block;
  }
}

.u-menu-filter::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  width: 12.6%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 50;
}
@media (min-width: 520px) {
  .u-menu-filter::before {
    width: 59%;
  }
}

.u-menu-filter.is-active {
  position: fixed;
  overflow-y: hidden;
}
.u-menu-filter.is-active::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */