@charset "utf-8";
// foundation
@use "./foundation/variable"as v;
@use "./foundation/mixin"as m;
@use "./foundation/base";
// layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/main";
// component
@use "./object/component/title";
@use "./object/component/btn";
// project
@use "./object/project/p-header";
@use "./object/project/form";
@use "./object/project/main-visual";
@use "./object/project/branch";
@use "./object/project/map";
// utility
@use "./object/utility/display";
// ファイルを分ける時こちらとは変数・mixinファイルへのパスが変わるので注意
// @useは、同じファイル名の場合エラーが出るp-を付けて対応
// @useは読み込ませる変数・mixinが無い場合もエラーが出る
// 一時的にこちらに記入して随時ファイル分けをする

.l-aside {
  background: v.bg-colors(aside);
  position: fixed;
  width: 87.4%;
  height: 100vh;
  top: 0;
  right: -87.4%;
  @include m.b-p(tab) {
    width: 44%;
    right: -44%;
  }
  @include m.b-p(pc) {
    position: static;
    width: auto;
    height: auto;
    grid-area: aside;
  }
}

.l-footer {
  grid-area: footer;
  background: v.bg-colors(footer);
  aspect-ratio: 375/150;
  @include m.b-p(tab) {
    aspect-ratio: 834/150;
  }
  @include m.b-p(pc) {
    aspect-ratio: 1920/150;
  }
}
