@use "../../foundation/mixin"as m;
@use "../../foundation/variable"as v;

.p-branch {
  aspect-ratio: 375/1374;
  background: v.bg-colors(branch);
  padding: 5.333% 5.333% 13.333%;
  @include m.b-p(tab) {
    aspect-ratio: 834/761;
    padding: 4.796%;
  }
  @include m.b-p(pc) {
    aspect-ratio: 1553/1447;
    padding: 7.726% 7.147% 8.628%  ;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column; //主軸が縦方向になるので注意
    justify-content: space-between; //spではtake-outとeat-inを上下に
    @include m.b-p(tab) {
      flex-direction: row; //横並びに戻す
    }
  }
  &__list {
    height: 49.233%; //flexボックスの上下の比率
    @include m.b-p(tab) {
      height: auto;//元に戻す
      width: 47.277%;
    }
    @include m.b-p(pc) {
      width: 46.992%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column; //主軸が縦方向になるので注意
    justify-content: space-between; //見出しとテキスト部分を上下に
    padding: 3.283% 2.985% 2.985%;
    height: 100%; //親要素の高さをフルに使う
    background-size: cover;
    background-repeat: no-repeat;
    @include m.b-p(tab) {
      padding: 3.361% 3.361% 2.24%;
    }
    @include m.b-p(pc) {
    padding: 3.2%;
    }
    &--take-out {
      //画像が各々違うので別ヴァージョンでまたは、HTMLにbg-imageを書く場合も検討。
      @extend .p-branch__item;
      background-image: url(../imges/front-page/sp/front_take-out_sp.png);
    }
    &--eat-in {
      @extend .p-branch__item;
      background-image: url(../imges/front-page/sp/front_eat-in_sp.png);
    }
  }
  &__title {
    //見出しの文字色が違うので別バージョンを作る
    font-family: "Roboto", sans-serif;
    font-size: 10.933vw;
    line-height: 1.317;
    position: relative;
    @include m.b-p(tab) {
      font-size: 5.275vw;
    }
    @include m.b-p(pc) {
      font-size: 4.166vw;
    }
    &--take-out {
      @extend .p-branch__title;
      color: v.$d-white;
    }
    &--eat-in {
      @extend .p-branch__title;
      color: v.$white;
    }
    &::after {
      //疑似要素で見出しの下にある白線を作る
      content: " ";
      display: inline-block;
      height: 5px;
      width: 9.037vw;
      background: v.$white;
      position: absolute;
      bottom: -5.144vw;
      left: 0;
      @include m.b-p(tab) {
        width: 4.309vw;
        height: 3px;
        bottom: -2.589vw;
      }
      @include m.b-p(pc) {
        width: 3.281vw;
        height: 2.5px;
        bottom: -1.796vw;
      }
    }
  }
}

// 下のbottom-boxはここから
.p-branch__bottom-box {
  aspect-ratio: 314/335; //ボックス全体のアスペクト比率を割り出す
  display: flex;
  flex-direction: column; //主軸が縦方向になるので注意
  justify-content: space-between; //２つのテキストボックスを上下に
  @include m.b-p(tab) {
    aspect-ratio: 334/357;
  }
  @include m.b-p(pc) {
    aspect-ratio: 585/368;
  }
  &__list {
    color: v.$black;
    height: 48.656%;
    background: rgba(255, 255, 255, 0.73);
    padding: 6.05% 4.458% 0 3.184%;
  }
  &__dt {
    font-size: 5.866vw;
    font-weight: bold;
    margin-bottom: 19px;
    @include m.b-p(tab) {
      font-size: 2.877vw;
    }
    @include m.b-p(pc) {
      font-size: 1.25vw;
    }
  }
  &__dd {
    font-size: 4.266vw;
    @include m.b-p(tab) {
      font-size: 1.918vw;
    }
    @include m.b-p(pc) {
      font-size: 0.833vw;
    }
  }
}